.reon-amocrm-tg-chat-bot-settings {

    * {
        box-sizing: border-box;
    }
    
    &__block {
        padding: 18px 18px 29px;
        border-radius: 3px;
        background-color: var(--bg-color);
        margin-bottom: 40px;
        &:last-child {
            margin-bottom: 0;
        }

        &_table {
            padding: 18px 0 0 0;
        }
    }
}

.reon-amocrm-tg-chat-bot-block {

    &__title {
        margin-bottom: 25px;
        font-size: 20px;
        text-align: left;
    }
}

.reon-amocrm-tg-chat-bot-settings__block_table {
    .reon-amocrm-tg-chat-bot-block__title {
        margin-left: 18px;
    }
}

.reon-amocrm-tg-chat-bot-loading-table {
    width: 100%;
    height: 42px;
}