.settings {
    
    &__block {
        padding: 18px 18px 29px;
        border-radius: 3px;
        background-color: var(--bg-color);
        margin-bottom: 40px;
        &:last-child {
            margin-bottom: 0;
        }

        &_table {
            padding: 18px 0 0 0;
        }
    }
}

.block {

    &__title {
        margin-bottom: 25px;
        font-size: 20px;
        text-align: left;
    }
}

.settings__block_table {
    .block__title {
        margin-left: 10px;
    }
}