.reon-amocrm-tg-chat-bot-select {
    cursor: pointer;
    outline: 0;
    color: inherit;
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;

    &__text {
        flex: 1 1 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__arrow {
        flex: 0 0 auto;
        transform: rotateX(0deg);
        transition-duration: .2s;
    }
    &._active &__arrow {
        transform: rotateX(180deg);
    }

    &__wrapper {
        position: absolute;
        background-color: inherit;
        top: calc(100% + 1px);
        left: 0;
        width: 100%;
        border: 1px solid var(--table-border-color);
        border-radius: 5px;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        transition-duration: .2s;
        max-height: 200px;
        transform-origin: top;
        overflow-x: hidden;
        z-index: 100;
    }

    &._active &__wrapper {
        pointer-events: all;
        opacity: 1;
        visibility: visible;
    }

    &__option {
        cursor: pointer;
        display: block;
        padding: 5px 10px;
        color: inherit;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        transition-duration: .2s;
        
        &:hover {
            background-color: var(--table-border-color);
        }

        & input {
            display: none;
        }
    }
}